# Local work folders that is not checked in
/_*/

.*
!.editorconfig
!.git*

#scoop
apps
buckets
cache
modules
persist
shims
workspace
scoop-portable-config.cmd
tests/scoop-portable.cmd

# Vim
*.swo
*.swp

# Temp files
*.tmp
*.bak
/dump
/target
/tools/dump
